snippet ticket
*Changeset*
$1

*What's Been Changed*
$2

*Expected Results*
$3

*Possible Affected Area(s)*
$4

*Additional Information*
$5
endsnippet


snippet panel
{panel:title=$1}
$2
{panel}
endsnippet


snippet testpanel
{panel:title=Test Instructions}
$1
{panel}
endsnippet

