snippet TDView
### ${1:view_name}

App 
${2:apps.example}

URL patterns 
${3:/path/to/view}

Access Control 
$4

Behaviour 
$5

Development 
$6
endsnippet


snippet TDModel
### ${1:ModelName}

App 
${2:apps.example}

Definition 

|Field|Type|Notes|
|-----|----|-----|
| ${3}

Methods 
${4}
endsnippet


snippet doctypejs
/**
 * $1
 */
endsnippet
